################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/master/Backend/Realgreen.AMA2_0/SAApi/Properties/PublishProfiles
/master/Backend/Realgreen.AMA2_0/API/.config/dotnet-tools.json
/master/Backend/Realgreen.AMA2_0/API/Properties/PublishProfiles/RGAppServer1.pubxml
/.vs/VSWorkspaceState.json
/.vs/BitBucket_Repov1/v16
/.vs
/.vs/slnx.sqlite
/.vs/UnitTest/v16/.suo
/master/Backend/Realgreen.AMA2_0/API/obj
/master/Backend/Realgreen.AMA2_0/API.Proxy/obj
/master/Backend/Realgreen.AMA2_0/API.Tests/obj
/master/Backend/Realgreen.AMA2_0/Application/obj
/master/Backend/Realgreen.AMA2_0/CQRS/obj
/master/Backend/Realgreen.AMA2_0/CQRS.Tests/obj
/master/Backend/Realgreen.AMA2_0/Domain/obj
/master/Backend/Realgreen.AMA2_0/DTO/obj
/master/Backend/Realgreen.AMA2_0/Realgreen.Communication.Rebus/obj
/master/Backend/Realgreen.AMA2_0/Repository/obj
/master/Backend/Realgreen.AMA2_0/Repository.Tests/obj
/master/Backend/Realgreen.AMA2_0/SAApi/obj
/master/Backend/Realgreen.AMA2_0/Services/obj
/master/Backend/Realgreen.AMA2_0/Services.Tests/obj
/master/Backend/Realgreen.AMA2_0/WorkerRole/obj/Debug/netstandard2.0
/master/Backend/Realgreen.AMA2_0/WorkerRole/obj/Release/netstandard2.0
